@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    background-color:hsl(190, 40%, 73%);;
  }
  
  h1{
    color: navy;
    margin: 35px 35px 50px 50px;
    font-size: 65px;
    padding-top: 30mm;
    padding-bottom: 30mm;
    padding-left: 30mm;
    padding-right: 30mm;
    font-family: 'Roboto', sans-serif;
  }

  p{
      font-size: 13px;
      line-height: 2em;
      margin-bottom: 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1cm 1cm 1cm 1cm;
      padding-inline-end: 3pt;
      border: 2px solid gray;
      text-align: left;
      text-decoration: dashed;
      display: contents;
      font-family: 'Roboto', sans-serif;
  }

  h2{
    padding: 0%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 1px;
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  nav{
      height:2cm;
      width:2cm;
      font-family: 'Roboto', sans-serif;
  }
  h3{
      max-width: 20cm;
      max-height: 3cm;
      font-family: 'Roboto', sans-serif;
  }
  label{
      font-size: 13px;
  }
  img{
      position:relative;
  }
  video{
      max-height: 800px;
      max-width: 600px;
      position:relative;
  }
  audio{
      position:sticky;
  }
  button:hover{
      color:red;
  }
  .container{
      display: flex;
  }
  .item{
      display: grid;
  }
  @media only screen and (max-width: 800px) {
    body {
      background-color: lightgreen;
    }
  }
